#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig MOTOR_MODULE
	bool "Motor module"
	default y

if MOTOR_MODULE

config MOTOR_THREAD_STACK_SIZE
	int "Motor module thread stack size"
	default 1280


endif # MOTOR_MODULE

module = MOTOR_MODULE
module-str = Motor module
source "subsys/logging/Kconfig.template.log_config"
